body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.log-in-btn {
  background: rgb(161, 161, 225);
  margin: 0px 0px 0px 10px;
  border: none;
  border-radius: 2px;
  width: 60px;
  height:20px;
}
.sign-up-btn {
  background: rgb(227, 159, 227);
  margin: 0px 0px 0px 10px;
  border: none;
  border-radius: 2px;
  width: 60px;
  height:20px;

}